
// Specific CSS for your home-page
body { font-family: 'Roboto', sans-serif;
	   background-color: #F4F4F4;
}

p {
  line-height: 23px;
  opacity: 0.7;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.container {
	width: 350px;
	margin: auto;
}

.orange-circle-big img {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 1000;
  width: 45%;
  top: 120px;
  left: 0px
}

.orange-circle-small img {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 1000;
  width: 32%;
  top: 340px;
  right: 0px
}

.banner {
	margin-bottom: 1rem;
  box-shadow: 4px 7px 8px rgba(196, 196, 196, 0.3);
}

.banner, .banner img {
  border-radius: 10px;
	text-align: center;
  width: 100%;
}

.card-home {
  width: 100%;
  padding: 1.1rem;
}

.card-home h2 {
  margin-bottom: 20px;
  font-size: 25px;
}

.card-banner {
  border-radius: 10px;
  padding: 2rem;
  margin-top: 20px;
  width: 100%;
  background-image: url(/assets/images/homebanner_2.jpg);
  background-size: cover;
  box-shadow: 4px 7px 8px rgba(196, 196, 196, 0.3);
}

.card-banner p {
  color: white;
  margin-bottom: 100px;
  opacity: 1;
}

.card-banner h2 {
  margin-top: 10px;
  color: white;
}

#orange-circle-footer img {
  width: 30%;
  left: -5px;
  position: absolute;
}

/* overwriting bootstrap from defaults */

#search-form {
  width: 100%;
}

.form-control, #address {
  width: 100%;
  font-size: 13px;
  padding-left: 18px;
}

.form-control, #start_date{
  width: 100%;
  font-size: 13px;
  padding-right: 18px;
}

.form-control, #end_date{
  width: 100%;
  font-size: 13px;
  padding-right: 18px;
}

#homepage-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button-filled {
  display: block;
  padding: 16px 0px 17px 0px;
  color: white;
  font-weight: 600;
  background-color: #F46B3A;
  border-color: #F46B3A;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  width: 47%;
  text-align: center;
  box-shadow: 0 7px 8px rgba(196, 196, 196, 0.5);
}

.btn-filled {
  display: block;
  padding: 18px 0px 16px 0px;
  color: white;
  font-weight: 600;
  background-color: #F46B3A;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 13px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  width: 47%;
  text-align: center;
  box-shadow: 0 7px 8px rgba(196, 196, 196, 0.5);
}

.button-outline {
  display: block;
  padding: 15px 0px 16px 0px;
  color: #F46B3A;
  font-weight: 600;
  border-color: #F46B3A;
  border: 3px solid #F46B3A;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 13px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  width: 47%;
  text-align: center;
  box-shadow: 0 7px 8px rgba(196, 196, 196, 0.5);
}

.form-control {
  margin-top: 0px;
  margin-bottom: 14px;
  border-radius: 10px;
  border-style: none;
  height: 50px;
  background-color: #EDEFF2;
  box-shadow: 4px 7px 8px rgba(196, 196, 196, 0.3);
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}
