body { font-family: 'Roboto', sans-serif;
     background-color: #F4F4F4;
}

p {
  line-height: 23px;
  opacity: 0.7;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.container {
  width: 350px;
  margin: auto;
  padding: 0px;
}

.container ul {
  padding: 0px;
  border-radius: 10px;
}


.card {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 4px 7px 8px rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}

.card-product img {
  border-radius: 10px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}

.btn-details {
  position: absolute;
  top: 13px;
  left: 15px;
  display: block;
  padding: 10px 0px 10px 0px;
  color: white !important;
  font-weight: 600;
  background-color: #F46B3A;
  font-size: 11px;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 25%;
  text-align: center;
  box-shadow: none;
}

.btn-outline {
  position: absolute;
  background-color: white;
  top: 13px;
  left: 110px;
  border-color: #F46B3A;
  border-radius: 5px;
  border: 2px solid #F46B3A;
  padding: 8px 0px 8px 0px;
  font-size: 11px;
  width: 20%;
  text-align: center;
}

.btn-outline a {
  color: #F46B3A;
  font-weight: 600;
  font-size: 11px;
  opacity: 1;
}
