<div class="container">
	<h4>Send a Booking Request</h4>
  <%= simple_form_for [ @bike, @booking ] do |f| %>
    <div class= "form-group">
      <%= f.input :start_date, class: "form-control" %>
      <%= f.input :end_date, class: "form-control" %>
      <%= f.submit "Send request", class: "button-filled" %>
    </div>
  <% end %>
</div>