
<div class="container">
  <div class="orange-circle-big">
     <%= image_tag "big_circle_home.png", alt: "Orange circle left" %>
  </div>
  <div class="orange-circle-small">
     <%= image_tag "small_circle_home.png", alt: "Orange circle right" %>
  </div>
	<div class="banner">
     <%= image_tag "homebanner_1.jpg", alt: "Home banner Okada" %>
	</div>
	<div class="home-searchform">
     <form id="search-form">
        <input type="text" id="address" class="form-control" placeholder="Type in your city">
        <br>
        <input type="date" placeholder="From" class="form-control" name="start_date" data-id="rangePlugin" id="start_date">
         <br>
        <input type="date" placeholder="Until" class="form-control datepicker" name="end_date" id="secondRangeInput">
        <a class="button-filled" href="bikes/" role="button">SEARCH</a>
      </form>
    </div>

    <div class="card-home">
      <h2>You want to rent<br>a cargo bike?</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua.<br><br>At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
    </div>
    <div class="card-home card-banner">
      <h2>You already have<br>a cargo bike?</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt.
        </p>
    </div>
    <div id="homepage-btn">
    	<a class="btn-filled" href="bikes/" role="button">RENT IT</a>
    	<a class="button-outline" href="#" role="button">FAQ</a>
    </div>
    <div class="card-home">
      <h2>You want to build<br>your own cargo bike?</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua.
        </p>
    </div>
</div>
