<div class="show-container">
  <div class="image-box", style="width: 375px;">
    <div class="cargo-size">
      <ul>
        <li><button type="button" class="btn btn-secondary">S</button></li>
        <li><button type="button" class="btn btn-secondary">M</button></li>
        <li><button type="button" class="btn btn-orange">L</button></li>
      </ul>
        <%= image_tag('show_image_01.png', class:'cargo-image', alt: 'Cargo Image', style: 'margin: 19px auto; width: 375px;')%>
      <li><button type="button" class="btn btn-warning">DETAILS</button></li>
      <% if current_user == @bike.user %>
        <%= link_to 'Edit', edit_bike_path(@bike) %>
        <% end %>
        <% if current_user == @bike.user %>
        <%= link_to 'Delete', bike_path(@bike) %>
        <% end %>
    </div>
  </div>
</div>
